div.col-2 {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.ForecastTempMax {
  font-weight: 300;
  color: white;
}

.ForecastTempMin {
  color: rgb(217, 217, 217);
  font-weight: 200;
}

div.WeatherForecast {
  color: white;
}
