.WeatherInfo h1 {
  text-transform: uppercase;
  font-size: 50px;
  padding-top: 5px;
  font-weight: 300;
  line-height: 2.5rem;
  color: white;
}

div.col-6 {
  padding: 15px;
}

.WeatherInfo span.tempMainCelcius,
.tempMainDegreeSign,
img.mainIco {
  position: relative;
}

.WeatherInfo div.tempMainCelcius {
  font-size: 68px;
  font-weight: 300;
  text-align: center;
  color: white;
}

.WeatherInfo .tempMainDegreeSign {
  font-size: 25px;
  font-weight: 300;
  padding-bottom: 15px;
  top: -30px;
  color: white;
}
ul {
  margin-left: 20px;
  padding-top: 30px;
}

li.humidity,
li.wind {
  font-weight: 200;
  color: rgb(217, 217, 217);
}

.WeatherInfo img.mainIcon {
  width: 150px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.weatherDescription {
  text-transform: capitalize;
}
